{% extends 'tasks/base.html' %}
{% block content %}
<div class="container-fluid d-flex justify-content-center mt-5 mb-3">
    <h1 class="display-1" style="font-family: 'Kalam', cursive;">
        Almost Forgot
    </h1>
</div>
<div class="container tasks-area bg-gradient p-5 mb-5 shadow-lg border border-white rounded">
    <figure class="text-center mt-1 mb-4">
        <blockquote class="blockquote text-muted">
            <p>“I love lists. Always have.”</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            <cite title="Source Title">Adam Savage</cite>
        </figcaption>
    </figure>
    <hr class="top-separator">
    <div class="d-flex justify-content-center">
        <div class="row display-6 mb-3"><h2>Sign up or login above to get started!</h2></div>
    </div>
    <div class="d-flex justify-content-center">
        <a class="btn btn-primary" href="#" role="button" aria-disabled="true">Add Task</a>
    </div>
    <hr>
    <div class="table-responsive">
    <table class="table table-striped table-hover caption-top">
        <caption>Sample to-do list</caption>
        <thead class="table-dark">
        <tr>
            <th scope="col">Due Date</th>
            <th scope="col">Task</th>
            <th scope="col">Category</th>
            <th scope="col">Date Created</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>May 5th, 2022</th>
            <td>Pay rent!</td>
            <td>General</td>
            <td>Apr 2nd, 2022</td>
            <td><a href="#" class="text-info ms-2" data-mdb-toggle="tooltip" title="Edit task"><i class="fas fa-pencil-alt"></i></a></td>
            <td><a href="#" class="text-danger ms-3" data-mdb-toggle="tooltip" title="Delete task"><i class="fas fa-trash-alt"></i></a></td>
        </tr>
        <tr>
            <td>May 12th, 2022</th>
            <td>Book tickets to Portugal</td>
            <td>General</td>
            <td>Apr 14th, 2022</td>
            <td><a href="#" class="text-info ms-2" data-mdb-toggle="tooltip" title="Edit task"><i class="fas fa-pencil-alt"></i></a></td>
            <td><a href="#" class="text-danger ms-3" data-mdb-toggle="tooltip" title="Delete task"><i class="fas fa-trash-alt"></i></a></td>
        </tr>
        <tr>
            <td>May 18th, 2022</th>
            <td>Submit presentation</td>
            <td>Work</td>
            <td>Apr 15th, 2022</td>
            <td><a href="#" class="text-info ms-2" data-mdb-toggle="tooltip" title="Edit task"><i class="fas fa-pencil-alt"></i></a></td>
            <td><a href="#" class="text-danger ms-3" data-mdb-toggle="tooltip" title="Delete task"><i class="fas fa-trash-alt"></i></a></td>
        </tr>
        </tbody>
    </table>
        </div>
</div>
{% endblock %}