{% extends 'tasks/base.html' %}
{% load crispy_forms_tags %}
{% crispy TaskForm TaskForm.helper %}
{% block content %}
<div class="container-fluid d-flex justify-content-center mt-5 mb-3">
    <h1 class="display-1" style="font-family: 'Kalam', cursive;">
        Almost Forgot
    </h1>
</div>
<div class="container tasks-area bg-gradient p-5 mb-5 shadow-lg border border-white rounded">
    <div class="d-flex justify-content-center">
        <div class="row display-6 mb-3">Add a new task here</div>
    </div>
    <div class="d-flex justify-content-center">
        <a class="btn btn-info" href="{% url 'task-create' %}" role="button">Add Task</a>
    </div>
    <hr>
    <div class="table-responsive">
    <table class="table table-striped table-hover caption-top">
        <caption>{{ user }}'s to-do list</caption>
        <thead class="table-dark">
        <tr>
            <th scope="col">Due Date</th>
            <th scope="col">Task</th>
            <th scope="col">Category</th>
            <th scope="col">Date Created</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
        <tr>
            <td>{% if task.due_date is None%}---{% else %}{{ task.due_date|date:'M. j, Y' }}{% endif %}</th>
            <td>{{ task.task }}</td>
            <td>{{ task.category }}</td>
            <td>{{ task.date_created|date:'M. j, Y' }}</td>
            <td><a href="{% url 'task-edit' task.pk %}" class="text-info ms-2" data-mdb-toggle="tooltip" title="Edit task"><i class="fas fa-pencil-alt"></i></a></td>
            <td><a href="{% url 'task-delete' task.pk %}" class="text-danger ms-3" data-mdb-toggle="tooltip" title="Delete task"><i class="fas fa-trash-alt"></i></a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
        {% if not tasks %}
        <p>You have no tasks yet. Click on the 'Add Task' button above to begin adding to your to-do list.</p>
        {% endif %}
        </div>
</div>
{% endblock %}